.footer--color {
  background-color: @basic-color2;
}

.footer {
  .desktop({
    position: relative;
    background-color: @card-color;
  });
}

.footer__container {
  .desktop({
    position: relative;
    padding-top: 94px;
    padding-bottom: 106px;
  });
}