.hero {
  height: 100%;
  max-width: 100%;
  padding: 27px 35px 20px 35px;
}
.hero__title {
  color: @title-light;
  text-align: center;
  text-wrap: wrap;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}
.hero__derscriptor {
  text-align: center;
  color: @title-light;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 164px;
}

.hero__background-cat-wrapper::after {
  background-image: url("../img/index-background-desktop2-green.jpg");
height: 100%;
content: "";
}
.hero__background-can-wrapper::after {
background-image: url("../img/index-can-mobile1.png");
content: "";
}
.hero__button {
  display: block;
  color: @title-light;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  .links-decor();
  background-color: @basic-color4;
  margin: 0;
  padding: 10px 20px;
}
