.hero {
  height: 100%;
  max-width: 100%;
}
.hero__title {
  color: @title-light;
  text-align: center;
  text-wrap: wrap;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto 25px;
  width: 300px;
}

.hero__derscriptor {
  text-align: center;
  color: @title-light;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.hero__background-cat-wrapper {
  position: relative;
  background: url("../img/index-background-desktop2-green.jpg") no-repeat center
    top;
  background-size: auto 100%;
  background-color: #62a53b;
  padding: 27px 0 148px 0;
  min-height: 302px;
  box-sizing: border-box;
}
.hero__background-can-wrapper {
  position: relative;
  padding-bottom: 140px;
}
.hero__background-can-wrapper::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: url("../img/index-can-mobile1.png");
  width: 280px;
  height: 270px;
}
.hero__button {
  display: block;
  color: @title-light;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  .links-decor();
  background-color: @basic-color4;
  margin: 0 20px 20px;
  padding: 10px 20px;
}
