.nav-list {
  .list-reset();
  .tablet({display: flex});
}
.nav-list__link {
  .links-decor();
  color: @title-dark;
}
.nav-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid;
  border-color: #e6e6e6;

  .tablet({border: none; padding-bottom: 7px;});
}
.nav-list__item--current {
  .tablet({border-bottom: 2px solid @basic-color4;});
}
