.nav {
  position: relative;
}
.nav__button {
  position: absolute;
  right: 21px;
  top: -44px;
  background-color: @basic-color1;
  background-image: url("../../img/button-cross.svg");
  background-repeat: no-repeat;
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
}
