.contacts {
  margin: 26px 0 24px 0;
  border-top: solid 2px @basic-color4;
}
.contacts__list {
  margin: 0 20px 12px 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
.contacts__legend {
  margin-bottom: 33px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 14px;
}
