.form-comments {
  display: flex;
  flex-wrap: wrap;
}
.form-comments__title {
  margin-bottom: 38px;
}
.form-comments__text {
  display: block;
  margin: 0 20px 22px 20px;
  padding-top: 14px;
  height: 135px;
  outline: none;
  resize: none;
  border: 1px solid #e7e7e7;

  @media(min-width: @tablet-width) {
    margin: 0;
    border: 1px solid #e7e7e7;
  }
}
