.form-page__title {
  padding-top: 28px;
  margin-bottom: 37px;

  .tablet({
    padding-top: 0;
    margin: 60px 70px 54px 70px;
  });

.desktop ({
  width: 1220px;
  margin: 74px auto 55px auto;
});
}

.form-page__description {
  margin-bottom: 39px;

  .tablet({
    margin: 0 70px 66px 70px;
  });

.desktop ({
  position: relative;
  margin: 0;
  width: 323px;
  left: 50%;
  max-width: 610px;
  margin-left: -610px;
  margin-bottom: 66px;
});
}