.features__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: @text-color;

  font-family: @lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  .tablet({
    font-size: 16px;
    line-height: 20px;
    min-height: 30px;
    border-bottom: 1px solid #cdcdcd;
  });

.desktop({
  min-height: 34px;
  align-content: center;
});
}

.features__name {
  .tablet({
    text-align: left;
    padding-top: 5px;
  });

.desktop({
  padding-top: 0;
});
}

.features__value {
  text-align: right;
  margin: 0;

  .tablet({
    padding-top: 7px;
  });

.desktop({
  padding-top: 0;
});
}

.features__list {
  margin: 0;
}